border-bottom-1px($color)
  position:relative
  &:after
    position:absolute
    display:block
    width:100%
    left:0
    bottom:0
    border-top:1px solid $color
    content:''
border-top-1px($color)
  position:relative
  &:after
    position:absolute
    display:block
    width:100%
    left:0
    top:0
    border-top:1px solid $color
    content:''    
 border-top-none()
   &:after
    display: none
    margin-bottom: 0
 border-bottom-none()
   &:after
    display: none
    margin-top: 0   
bg-image($url)
  background-image: url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
    background-image: url($url+"@3x.png")
bg-change($url)
  background-image: url("../resource/"+$url+"-active.png")
  background-size: 1.375rem 1.375rem 
  background-repeat: no-repeat
headerCss()
  display: block
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 2.5rem
  z-index: 450
  background: #f9f9f9
  overflow: hidden
  .header-content
      position: relative
      width: 100%
      height: 2.5rem
      line-height: 2.5rem
      border-bottom-1px(#e5e5e5)
      .goBack
          margin-left 16px
          position: absolute
          height: 100%
          img
            position: absolute
            top: 50%
            margin-top: -8px
          span
            margin-left: 15px
            vertical-align: top
            font-size: 13px
            color: #ea68a2
          
      .search
          position: absolute
          right: 0.9375rem
          top: 50%
          margin-top: -0.5rem
      .title
          text-align: center
          font-size: 0.875rem
          font-weight: 800  